@tailwind base;
@tailwind components;
@tailwind utilities;  


*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Chelsea Market';
    src: url('./assets/fonts/ChelseaMarket-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura-Lt';
    src: url('./assets/fonts/FuturaLT-Bold.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}



.covering::after{
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    
    background-color: rgba(0,0,0,0.55);
}
.center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) ;
}


html {
 
  scroll-behavior: smooth;
}

@media (min-width: 1440px) {
  /* html {
    zoom: 1.5;
  } */
}

@media (min-width: 2560px) {
  /* html {
    zoom: 1.7;
  } */
}

@media (min-width: 3860px) {
  /* html {
    zoom: 2.5;
  } */
}

::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}





.swiper_container {
  height: 20rem;
  
  position: relative;
}

.swiper-slide {
  width: 30rem;
  height: 42rem;
  position: relative;
}
.center{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 500px) {
    
  .swiper-slide {
    width: 100% !important;
    height: 36rem !important;
  }
  .swiper-slide img {
    width: 29rem !important;
    height: 17rem !important;
  }
}

.swiper-slide img {
  width: 25rem;
  height: 15rem;
  border-radius: 2rem;
  object-fit: cover;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .slider-controler .swiper-button-next {

  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
} */
/* 
@media (max-width: 450px) {
  .slider-controler .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.slider-controler .slider-arrow {
  background: var(--white);
  width: 2rem;
  height: 2.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
}



.slider-controler .slider-arrow::after {
  content: '';
}*/

.swiper-pagination {
  position: relative;
  width: 15rem !important;
  bottom: 1rem;
} 
